<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cgw360.cls.dao.approve.LoanApproveDocumentMapper">
    <resultMap id="BaseResultMap" type="com.cgw360.cls.model.approve.LoanApproveDocument">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="project_id" property="projectId" jdbcType="BIGINT"/>
        <result column="dir_id" property="dirId" jdbcType="BIGINT"/>
        <result column="file_type" property="fileType" jdbcType="VARCHAR"/>
        <result column="file_name" property="fileName" jdbcType="VARCHAR"/>
        <result column="file_size" property="fileSize" jdbcType="DECIMAL"/>
        <result column="file_format" property="fileFormat" jdbcType="VARCHAR"/>
        <result column="file_path" property="filePath" jdbcType="VARCHAR"/>
        <result column="photograph_longitude" property="photographLongitude" jdbcType="DECIMAL"/>
        <result column="photograph_latitude" property="photographLatitude" jdbcType="DECIMAL"/>
        <result column="is_inuse" property="isInuse" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="org_id" property="orgId" jdbcType="BIGINT"/>
        <result column="org_name" property="orgName" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, project_id, dir_id, file_type, file_name, file_size, file_format, file_path, 
    photograph_longitude, photograph_latitude, is_inuse, user_id, user_name, org_id, 
    org_name, create_time, modify_time
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="com.cgw360.cls.model.approve.LoanApproveDocumentExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from loan_approve_document
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectPageByExample" resultMap="BaseResultMap"
            parameterType="com.cgw360.cls.model.approve.LoanApproveDocumentExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from loan_approve_document
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from loan_approve_document
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from loan_approve_document
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <delete id="deleteByExample" parameterType="com.cgw360.cls.model.approve.LoanApproveDocumentExample">
        delete from loan_approve_document
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.cgw360.cls.model.approve.LoanApproveDocument" useGeneratedKeys="true"
            keyProperty="id" keyColumn="id">
    insert into loan_approve_document (project_id, dir_id,
      file_type, file_name, file_size, 
      file_format, file_path, photograph_longitude, 
      photograph_latitude, is_inuse, user_id, 
      user_name, org_id, org_name, 
      create_time, modify_time)
    values (#{projectId,jdbcType=BIGINT}, #{dirId,jdbcType=BIGINT},
      #{fileType,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR}, #{fileSize,jdbcType=DECIMAL}, 
      #{fileFormat,jdbcType=VARCHAR}, #{filePath,jdbcType=VARCHAR}, #{photographLongitude,jdbcType=DECIMAL}, 
      #{photographLatitude,jdbcType=DECIMAL}, #{isInuse,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, 
      #{userName,jdbcType=VARCHAR}, #{orgId,jdbcType=BIGINT}, #{orgName,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.cgw360.cls.model.approve.LoanApproveDocument"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into loan_approve_document
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">
                project_id,
            </if>
            <if test="dirId != null">
                dir_id,
            </if>
            <if test="fileType != null">
                file_type,
            </if>
            <if test="fileName != null">
                file_name,
            </if>
            <if test="fileSize != null">
                file_size,
            </if>
            <if test="fileFormat != null">
                file_format,
            </if>
            <if test="filePath != null">
                file_path,
            </if>
            <if test="photographLongitude != null">
                photograph_longitude,
            </if>
            <if test="photographLatitude != null">
                photograph_latitude,
            </if>
            <if test="isInuse != null">
                is_inuse,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="orgId != null">
                org_id,
            </if>
            <if test="orgName != null">
                org_name,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectId != null">
                #{projectId,jdbcType=BIGINT},
            </if>
            <if test="dirId != null">
                #{dirId,jdbcType=BIGINT},
            </if>
            <if test="fileType != null">
                #{fileType,jdbcType=VARCHAR},
            </if>
            <if test="fileName != null">
                #{fileName,jdbcType=VARCHAR},
            </if>
            <if test="fileSize != null">
                #{fileSize,jdbcType=DECIMAL},
            </if>
            <if test="fileFormat != null">
                #{fileFormat,jdbcType=VARCHAR},
            </if>
            <if test="filePath != null">
                #{filePath,jdbcType=VARCHAR},
            </if>
            <if test="photographLongitude != null">
                #{photographLongitude,jdbcType=DECIMAL},
            </if>
            <if test="photographLatitude != null">
                #{photographLatitude,jdbcType=DECIMAL},
            </if>
            <if test="isInuse != null">
                #{isInuse,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="orgId != null">
                #{orgId,jdbcType=BIGINT},
            </if>
            <if test="orgName != null">
                #{orgName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.cgw360.cls.model.approve.LoanApproveDocumentExample"
            resultType="java.lang.Integer">
        select count(*) from loan_approve_document
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update loan_approve_document
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.projectId != null">
                project_id = #{record.projectId,jdbcType=BIGINT},
            </if>
            <if test="record.dirId != null">
                dir_id = #{record.dirId,jdbcType=BIGINT},
            </if>
            <if test="record.fileType != null">
                file_type = #{record.fileType,jdbcType=VARCHAR},
            </if>
            <if test="record.fileName != null">
                file_name = #{record.fileName,jdbcType=VARCHAR},
            </if>
            <if test="record.fileSize != null">
                file_size = #{record.fileSize,jdbcType=DECIMAL},
            </if>
            <if test="record.fileFormat != null">
                file_format = #{record.fileFormat,jdbcType=VARCHAR},
            </if>
            <if test="record.filePath != null">
                file_path = #{record.filePath,jdbcType=VARCHAR},
            </if>
            <if test="record.photographLongitude != null">
                photograph_longitude = #{record.photographLongitude,jdbcType=DECIMAL},
            </if>
            <if test="record.photographLatitude != null">
                photograph_latitude = #{record.photographLatitude,jdbcType=DECIMAL},
            </if>
            <if test="record.isInuse != null">
                is_inuse = #{record.isInuse,jdbcType=INTEGER},
            </if>
            <if test="record.userId != null">
                user_id = #{record.userId,jdbcType=BIGINT},
            </if>
            <if test="record.userName != null">
                user_name = #{record.userName,jdbcType=VARCHAR},
            </if>
            <if test="record.orgId != null">
                org_id = #{record.orgId,jdbcType=BIGINT},
            </if>
            <if test="record.orgName != null">
                org_name = #{record.orgName,jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.modifyTime != null">
                modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update loan_approve_document
        set id = #{record.id,jdbcType=BIGINT},
        project_id = #{record.projectId,jdbcType=BIGINT},
        dir_id = #{record.dirId,jdbcType=BIGINT},
        file_type = #{record.fileType,jdbcType=VARCHAR},
        file_name = #{record.fileName,jdbcType=VARCHAR},
        file_size = #{record.fileSize,jdbcType=DECIMAL},
        file_format = #{record.fileFormat,jdbcType=VARCHAR},
        file_path = #{record.filePath,jdbcType=VARCHAR},
        photograph_longitude = #{record.photographLongitude,jdbcType=DECIMAL},
        photograph_latitude = #{record.photographLatitude,jdbcType=DECIMAL},
        is_inuse = #{record.isInuse,jdbcType=INTEGER},
        user_id = #{record.userId,jdbcType=BIGINT},
        user_name = #{record.userName,jdbcType=VARCHAR},
        org_id = #{record.orgId,jdbcType=BIGINT},
        org_name = #{record.orgName,jdbcType=VARCHAR},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        modify_time = #{record.modifyTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.cgw360.cls.model.approve.LoanApproveDocument">
        update loan_approve_document
        <set>
            <if test="projectId != null">
                project_id = #{projectId,jdbcType=BIGINT},
            </if>
            <if test="dirId != null">
                dir_id = #{dirId,jdbcType=BIGINT},
            </if>
            <if test="fileType != null">
                file_type = #{fileType,jdbcType=VARCHAR},
            </if>
            <if test="fileName != null">
                file_name = #{fileName,jdbcType=VARCHAR},
            </if>
            <if test="fileSize != null">
                file_size = #{fileSize,jdbcType=DECIMAL},
            </if>
            <if test="fileFormat != null">
                file_format = #{fileFormat,jdbcType=VARCHAR},
            </if>
            <if test="filePath != null">
                file_path = #{filePath,jdbcType=VARCHAR},
            </if>
            <if test="photographLongitude != null">
                photograph_longitude = #{photographLongitude,jdbcType=DECIMAL},
            </if>
            <if test="photographLatitude != null">
                photograph_latitude = #{photographLatitude,jdbcType=DECIMAL},
            </if>
            <if test="isInuse != null">
                is_inuse = #{isInuse,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="orgId != null">
                org_id = #{orgId,jdbcType=BIGINT},
            </if>
            <if test="orgName != null">
                org_name = #{orgName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.cgw360.cls.model.approve.LoanApproveDocument">
    update loan_approve_document
    set project_id = #{projectId,jdbcType=BIGINT},
      dir_id = #{dirId,jdbcType=BIGINT},
      file_type = #{fileType,jdbcType=VARCHAR},
      file_name = #{fileName,jdbcType=VARCHAR},
      file_size = #{fileSize,jdbcType=DECIMAL},
      file_format = #{fileFormat,jdbcType=VARCHAR},
      file_path = #{filePath,jdbcType=VARCHAR},
      photograph_longitude = #{photographLongitude,jdbcType=DECIMAL},
      photograph_latitude = #{photographLatitude,jdbcType=DECIMAL},
      is_inuse = #{isInuse,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=BIGINT},
      user_name = #{userName,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=BIGINT},
      org_name = #{orgName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>