<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cgw360.cls.dao.loan.LoanCustomerContacterMapper">
    <resultMap id="BaseResultMap" type="com.cgw360.cls.model.loan.LoanCustomerContacter">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="apply_id" property="applyId" jdbcType="BIGINT"/>
        <result column="project_id" property="projectId" jdbcType="BIGINT"/>
        <result column="emergency_contact" property="emergencyContact" jdbcType="VARCHAR"/>
        <result column="relationship" property="relationship" jdbcType="VARCHAR"/>
        <result column="contact_address" property="contactAddress" jdbcType="VARCHAR"/>
        <result column="mobile_phone" property="mobilePhone" jdbcType="VARCHAR"/>
        <result column="is_car_user" property="isCarUser" jdbcType="INTEGER"/>
        <result column="is_inuse" property="isInuse" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="org_id" property="orgId" jdbcType="BIGINT"/>
        <result column="org_name" property="orgName" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id,apply_id, project_id, emergency_contact, relationship, contact_address, mobile_phone,
    is_car_user, is_inuse, user_id, user_name, org_id, org_name, create_time, modify_time
    </sql>
    <!--新增一条记录-->
    <insert id="insert" parameterType="com.cgw360.cls.model.loan.LoanCustomerContacter" useGeneratedKeys="true"
            keyColumn="id" keyProperty="id">
        insert into loan_customer_contacter (apply_id,project_id,
        emergency_contact, relationship, contact_address,
        mobile_phone, is_car_user, is_inuse,
        user_id, user_name, org_id,
        org_name, create_time, modify_time)
        values (#{applyId,jdbcType=BIGINT}, #{projectId,jdbcType=BIGINT},
        #{emergencyContact,jdbcType=VARCHAR}, #{relationship,jdbcType=VARCHAR}, #{contactAddress,jdbcType=VARCHAR},
        #{mobilePhone,jdbcType=VARCHAR}, #{isCarUser,jdbcType=INTEGER}, #{isInuse,jdbcType=INTEGER},
        #{userId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{orgId,jdbcType=BIGINT},
        #{orgName,jdbcType=VARCHAR}, now(),now()
        )
    </insert>
    <!--拷贝一条记录-->
    <insert id="insertSelective" parameterType="com.cgw360.cls.model.loan.LoanCustomerContacter"
            useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into loan_customer_contacter
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="applyId != null">
                apply_id,
            </if>
            <if test="projectId != null">
                project_id,
            </if>
            <if test="emergencyContact != null">
                emergency_contact,
            </if>
            <if test="relationship != null">
                relationship,
            </if>
            <if test="contactAddress != null">
                contact_address,
            </if>
            <if test="mobilePhone != null">
                mobile_phone,
            </if>
            <if test="isCarUser != null">
                is_car_user,
            </if>
            <if test="isInuse != null">
                is_inuse,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="orgId != null">
                org_id,
            </if>
            <if test="orgName != null">
                org_name,
            </if>
            create_time,
            modify_time,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="applyId != null">
                #{applyId,jdbcType=BIGINT},
            </if>
            <if test="projectId != null">
                #{projectId,jdbcType=BIGINT},
            </if>
            <if test="emergencyContact != null">
                #{emergencyContact,jdbcType=VARCHAR},
            </if>
            <if test="relationship != null">
                #{relationship,jdbcType=VARCHAR},
            </if>
            <if test="contactAddress != null">
                #{contactAddress,jdbcType=VARCHAR},
            </if>
            <if test="mobilePhone != null">
                #{mobilePhone,jdbcType=VARCHAR},
            </if>
            <if test="isCarUser != null">
                #{isCarUser,jdbcType=INTEGER},
            </if>
            <if test="isInuse != null">
                #{isInuse,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="orgId != null">
                #{orgId,jdbcType=BIGINT},
            </if>
            <if test="orgName != null">
                #{orgName,jdbcType=VARCHAR},
            </if>
            now(),
            now(),
        </trim>
    </insert>
    <!--根据主键删除一条记录-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from loan_customer_contacter
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <!--根据条件删除记录-->
    <delete id="deleteByExample" parameterType="com.cgw360.cls.model.loan.LoanCustomerContacterExample">
        delete from loan_customer_contacter
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <!--根据主键更新-->
    <update id="updateByPrimaryKey" parameterType="com.cgw360.cls.model.loan.LoanCustomerContacter">
        update loan_customer_contacter
        set apply_id = #{applyId,jdbcType=BIGINT},
        project_id = #{projectId,jdbcType=BIGINT},
        emergency_contact = #{emergencyContact,jdbcType=VARCHAR},
        relationship = #{relationship,jdbcType=VARCHAR},
        contact_address = #{contactAddress,jdbcType=VARCHAR},
        mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
        is_car_user = #{isCarUser,jdbcType=INTEGER},
        is_inuse = #{isInuse,jdbcType=INTEGER},
        user_id = #{userId,jdbcType=BIGINT},
        user_name = #{userName,jdbcType=VARCHAR},
        org_id = #{orgId,jdbcType=BIGINT},
        org_name = #{orgName,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <!--根据条件更新-->
    <update id="updateByPrimaryKeySelective" parameterType="com.cgw360.cls.model.loan.LoanCustomerContacter">
        update loan_customer_contacter
        <set>
            <if test="applyId != null">
                apply_id = #{applyId,jdbcType=BIGINT},
            </if>
            <if test="projectId != null">
                project_id = #{projectId,jdbcType=BIGINT},
            </if>
            <if test="emergencyContact != null">
                emergency_contact = #{emergencyContact,jdbcType=VARCHAR},
            </if>
            <if test="relationship != null">
                relationship = #{relationship,jdbcType=VARCHAR},
            </if>
            <if test="contactAddress != null">
                contact_address = #{contactAddress,jdbcType=VARCHAR},
            </if>
            <if test="mobilePhone != null">
                mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
            </if>
            <if test="isCarUser != null">
                is_car_user = #{isCarUser,jdbcType=INTEGER},
            </if>
            <if test="isInuse != null">
                is_inuse = #{isInuse,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="orgId != null">
                org_id = #{orgId,jdbcType=BIGINT},
            </if>
            <if test="orgName != null">
                org_name = #{orgName,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByExampleSelective" parameterType="map" >
        update loan_customer_contacter
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.applyId != null" >
                apply_id = #{record.applyId,jdbcType=BIGINT},
            </if>
            <if test="record.projectId != null" >
                project_id = #{record.projectId,jdbcType=BIGINT},
            </if>
            <if test="record.emergencyContact != null" >
                emergency_contact = #{record.emergencyContact,jdbcType=VARCHAR},
            </if>
            <if test="record.relationship != null" >
                relationship = #{record.relationship,jdbcType=VARCHAR},
            </if>
            <if test="record.contactAddress != null" >
                contact_address = #{record.contactAddress,jdbcType=VARCHAR},
            </if>
            <if test="record.mobilePhone != null" >
                mobile_phone = #{record.mobilePhone,jdbcType=VARCHAR},
            </if>
            <if test="record.isCarUser != null" >
                is_car_user = #{record.isCarUser,jdbcType=INTEGER},
            </if>
            <if test="record.isInuse != null" >
                is_inuse = #{record.isInuse,jdbcType=INTEGER},
            </if>
            <if test="record.userId != null" >
                user_id = #{record.userId,jdbcType=BIGINT},
            </if>
            <if test="record.userName != null" >
                user_name = #{record.userName,jdbcType=VARCHAR},
            </if>
            <if test="record.orgId != null" >
                org_id = #{record.orgId,jdbcType=BIGINT},
            </if>
            <if test="record.orgName != null" >
                org_name = #{record.orgName,jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null" >
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.modifyTime != null" >
                modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <!--通过主键查询-->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from loan_customer_contacter
        where id = #{id,jdbcType=BIGINT}
    </select>
    <!--通过条件查询-->
    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="com.cgw360.cls.model.loan.LoanCustomerContacterExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from loan_customer_contacter
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <!--根据条件统计-->
    <select id="countByExample" parameterType="com.cgw360.cls.model.loan.LoanCustomerContacterExample"
            resultType="java.lang.Integer">
        select count(*) from loan_customer_contacter
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>

    <!--根据项目ID和客户ID查询-->
    <select id="selectLoanCustomerContacterListByApplyId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from loan_customer_contacter
        where apply_id = #{applyId,jdbcType=BIGINT}
        order by create_time desc
    </select>
</mapper>