<configuration scan="true" scanPeriod="30 seconds">
    <jmxConfigurator/>
    <property file="cls-web.conf"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%date [%thread] %-5level %class.%method - %X{rule} - %msg%n</pattern>
        </encoder>
    </appender>


    <!--<appender name="Rolling" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${CLS_BSS_HOME}/logs/cls-bss.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${CLS_HOME}/logs/cls-bss_%d{yyyyMMdd}-%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>50</maxIndex>
            &lt;!&ndash;
            <fileNamePattern>${CLS_BSS_HOME}/cls-bss_%d{yyyyMMdd}_%i.log</fileNamePattern>
            <MaxHistory>50</MaxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>100MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
            &ndash;&gt;
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>30MB</maxFileSize>
        </triggeringPolicy>

        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date [%thread] %-5level %class{0}.%method - %X{rule} - %msg%n</pattern>
        </layout>
    </appender>-->

    <appender name="Rolling" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${CLS_BSS_HOME}/logs/cls-bss.log</file>
        <Encoding>UTF-8</Encoding>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${CLS_BSS_HOME}/logs/cls-bss-%d{yyyyMMdd}.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>30</maxIndex>
        </rollingPolicy>
        <!-- encoders are assigned the type
           ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %class.%method - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="Rolling"/>
    </root>


    <logger name="System" level="INFO">
        <appender-ref ref="NT"/>
    </logger>

    <logger name="com.cgw360" level="DEBUG"/>
    <logger name="com.alibaba" level="ERROR"/>
    <logger name="org.mybatis" level="ERROR"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="com.mchange.v2" level="ERROR"/>

</configuration>
