<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgw360.cls.dao.inloan.ILicensePlateInfoDao">
	<resultMap id="myResultMap" type="com.cgw360.cls.model.inloan.LicensePlateInfo" autoMapping="true">
		<result column="id" property="id" />
		<result column="loan_car_id" property="loanCarId" />
		<result column="project_id" property="projectId" />
		<result column="is_registered" property="isRegistered" />
		<result column="register_type" property="registerType" />
		<result column="register_date" property="registerDate" />
		<result column="plate_no" property="plateNo" />
		<result column="plate_area" property="plateArea" />
		<result column="operator_uid" property="operatorUid" />
		<result column="operator_realname" property="operatorRealname" />
		<result column="register_target" property="registerTarget" />
		<result column="company_name" property="companyName" />
		<result column="company_code" property="companyCode" />
		<result column="warrant_date" property="warrantDate" />
		<result column="fail_reason" property="failReason" />
		<result column="note" property="note" />
		<result column="create_time" property="createTime" />
		<result column="modify_time" property="modifyTime" />
	</resultMap>

	<insert id="insertOne" parameterType="com.cgw360.cls.model.inloan.LicensePlateInfo" keyProperty="id" useGeneratedKeys="true">
		<![CDATA[
  			insert into license_plate_info
  			(
  			  			   			loan_car_id,
  			  			   			project_id,
  			  			   			is_registered,
  			  			   			register_type,
  			  			   			register_date,
  			  			   			plate_no,
  			  			   			plate_area,
  			  			   			operator_uid,
  			  			   			operator_realname,
  			  			   			register_target,
  			  			   			company_name,
  			  			   			company_code,
  			  			   			warrant_date,
  			  			   			fail_reason,
  			  			   			note,
  			  			   			create_time,
  			  			   			modify_time  			   			
			)values(
						 			 #{loanCarId} ,
						 			 #{projectId} ,		
						 			 #{isRegistered} ,
						 			 #{registerType} ,
						 			 #{registerDate} ,
						 			 #{plateNo} ,
						 			 #{plateArea} ,
						 			 #{operatorUid} ,
						 			 #{operatorRealname} ,
						 			 #{registerTarget} ,
						 			 #{companyName} ,
						 			 #{companyCode} ,
						 			 #{warrantDate} ,
						 			 #{failReason} ,
						 			 #{note} ,
						 			 NOW() ,
						 			 #{modifyTime} 			 			
			)
		]]>
	</insert>

	<insert id="insertList" parameterType="com.cgw360.cls.model.inloan.LicensePlateInfo" keyProperty="id" useGeneratedKeys="true">
		<![CDATA[
  			insert into license_plate_info
  			(
  			  			   			loan_car_id,
  			  			   			project_id,
  			  			   			is_registered,
  			  			   			register_type,
  			  			   			register_date,
  			  			   			plate_no,
  			  			   			plate_area,
  			  			   			operator_uid,
  			  			   			operator_realname,
  			  			   			register_target,
  			  			   			company_name,
  			  			   			company_code,
  			  			   			warrant_date,
  			  			   			fail_reason,
  			  			   			note,
  			  			   			create_time,
  			  			   			modify_time  			   			
			)values
			]]>
		<foreach collection="list" item="item" index="index" separator=",">
			(
			#{item.loanCarId} ,
			#{item.projectId} ,
			#{item.isRegistered} ,
			#{item.registerType} ,
			#{item.registerDate} ,
			#{item.plateNo} ,
			#{item.plateArea} ,
			#{item.operatorUid} ,
			#{item.operatorRealname} ,
			#{item.registerTarget} ,
			#{item.companyName} ,
			#{item.companyCode} ,
			#{item.warrantDate} ,
			#{item.failReason} ,
			#{item.note} ,
			NOW() ,
			#{item.modifyTime}
			)
		</foreach>
	</insert>

	<delete id="deleteOne" parameterType="java.lang.Long">
		<![CDATA[
			delete from license_plate_info where id = #{id}
		]]>
	</delete>

	<delete id="deleteList">
		<![CDATA[
			delete from license_plate_info where id in
		]]>
		<foreach collection="list" item="itemId" index="index" open="(" close=")" separator=",">
			#{itemId}
		</foreach>
	</delete>

	<update id="update" parameterType="com.cgw360.cls.model.inloan.LicensePlateInfo">
		<![CDATA[
			update license_plate_info 
		]]>
		<set>
			<if test="loanCarId != null and loanCarId != ''"> loan_car_id = #{loanCarId}, </if>
			<if test="projectId != null and projectId != ''"> project_id = #{projectId}, </if>
			<if test="isRegistered != null and isRegistered != ''"> is_registered = #{isRegistered}, </if>
			<if test="registerType != null and registerType != ''"> register_type = #{registerType}, </if>
			<if test="registerDate != null and registerDate != ''"> register_date = #{registerDate}, </if>
			<if test="plateNo != null and plateNo != ''"> plate_no = #{plateNo}, </if>
			<if test="plateArea != null and plateArea != ''"> plate_area = #{plateArea}, </if>
			<if test="operatorUid != null and operatorUid != ''"> operator_uid = #{operatorUid}, </if>
			<if test="operatorRealname != null and operatorRealname != ''"> operator_realname = #{operatorRealname}, </if>
			<if test="registerTarget != null and registerTarget != ''"> register_target = #{registerTarget}, </if>
			<if test="companyName != null and companyName != ''"> company_name = #{companyName}, </if>
			<if test="companyCode != null and companyCode != ''"> company_code = #{companyCode}, </if>
			<if test="warrantDate != null and warrantDate != ''"> warrant_date = #{warrantDate}, </if>
			<if test="failReason != null and failReason != ''"> fail_reason = #{failReason}, </if>
			<if test="note != null and note != ''"> note = #{note}, </if>
			<if test="createTime != null and createTime != ''"> create_time = #{createTime}, </if>
			<if test="modifyTime != null and modifyTime != ''"> modify_time = #{modifyTime}, </if>
		</set>
		<![CDATA[
			where id = #{id}
		]]>
	</update>

	<select id="selectOne" parameterType="java.lang.Long" resultMap="myResultMap">
		<![CDATA[
			select * from license_plate_info where id = #{id} limit 1
		]]>
	</select>
	<select id="selectList" resultMap="myResultMap">
		<![CDATA[
			select * from license_plate_info where id in
		]]>
		<foreach collection="list" item="itemId" index="index" open="(" close=")" separator=",">
			#{itemId}
		</foreach>
	</select>
	<!-- common statement -->
	<sql id="common_where">
		<!-- and username like '%${username}%' -->
		<where>
			<if test="loanCarId != null and loanCarId != ''">
				AND loan_car_id = #{loanCarId}
			</if>
			<if test="projectId != null and projectId != ''">
				AND project_id = #{projectId}
			</if>
			<if test="isRegistered != null and isRegistered != ''">
				AND is_registered = #{isRegistered}
			</if>
			<if test="registerType != null and registerType != ''">
				AND register_type = #{registerType}
			</if>
			<if test="registerDate != null and registerDate != ''">
				AND register_date = #{registerDate}
			</if>
			<if test="plateNo != null and plateNo != ''">
				AND plate_no = #{plateNo}
			</if>
			<if test="plateArea != null and plateArea != ''">
				AND plate_area = #{plateArea}
			</if>
			<if test="operatorUid != null and operatorUid != ''">
				AND operator_uid = #{operatorUid}
			</if>
			<if test="operatorRealname != null and operatorRealname != ''">
				AND operator_realname = #{operatorRealname}
			</if>
			<if test="registerTarget != null and registerTarget != ''">
				AND register_target = #{registerTarget}
			</if>
			<if test="companyName != null and companyName != ''">
				AND company_name = #{companyName}
			</if>
			<if test="companyCode != null and companyCode != ''">
				AND company_code = #{companyCode}
			</if>
			<if test="warrantDate != null and warrantDate != ''">
				AND warrant_date = #{warrantDate}
			</if>
			<if test="failReason != null and failReason != ''">
				AND fail_reason = #{failReason}
			</if>
			<if test="note != null and note != ''">
				AND note = #{note}
			</if>
			<if test="createTime != null and createTime != ''">
				AND create_time = #{createTime}
			</if>
			<if test="modifyTime != null and modifyTime != ''">
				AND modify_time = #{modifyTime}
			</if>
		</where>
	</sql>

	<select id="selectCountByFields" parameterType="java.util.Map" resultType="java.lang.Integer">
		<![CDATA[
			select count(1) from license_plate_info 
		]]>
		<include refid="common_where" />
	</select>
	<select id="selectByFields" parameterType="java.util.Map" resultMap="myResultMap">
		<![CDATA[
			select * from license_plate_info 
		]]>
		<include refid="common_where" />
		<choose>
			<when test="sortField != null and sortField == 'createTimeAsc'">
				<![CDATA[order by case when create_time is null then '2039-01-01 00:00:00' else create_time end asc]]>
			</when>
			<when test="sortField != null and sortField == 'createTimeDesc'">
				<![CDATA[order by case when create_time is null then '1969-12-31 23:59:59' else create_time end desc]]>
			</when>
			<otherwise>
				<![CDATA[order by case when create_time is null then '1969-12-31 23:59:59' else create_time end desc]]>
			</otherwise>
		</choose>
		<choose>
			<when test="limitStart != null and limitNum != null">
				limit #{limitStart}, #{limitNum}
			</when>
			<when test="limitNum != null">
				limit #{limitNum}
			</when>
			<otherwise></otherwise>
		</choose>
	</select>
	
	<sql id="criteria_condition">
		<if test="loanStatuses != null">
			<choose>
				<when test="loanStatuses.size() > 0">
					lap1.status in
					<foreach collection="loanStatuses" item="tag" open=" (" separator=", " close=" )">
						${tag}
					</foreach>
				</when>
				<otherwise>
					and 1 = -1
				</otherwise>
			</choose>
		</if>	
		<choose>
    		<when test="isRegistered==1">
    			and (lpi.is_registered = 1)	 			
    		</when>
    		<otherwise>
    			and (lpi.id is null or lpi.is_registered = 2)	
    		</otherwise>
    	</choose>	
  		<if test="projectNo !=null and projectNo != ''">
	 		 and lap1.project_no like concat("%",#{projectNo},"%") 		  
	 	</if>
	 	<if test="customerName !=null and customerName != ''">
	 		 and lap1.customer_name like concat("%",#{customerName},"%") 		  
	 	</if>
	 	<if test="cardNo !=null and cardNo != ''">
	 		and lap1.card_no like concat("%",#{cardNo},"%") 		  
	 	</if>
	 	<if test="mobilePhone !=null and mobilePhone != ''">
	 		and lap1.mobile_phone like concat("%",#{mobilePhone},"%") 		  
	 	</if>
	 	<if test="isPay !=null">
	 		<choose>
		 		<when test="isPay==1">
	    			and lap1.dealer_payment_date is not null 			
	    		</when>
	    		<otherwise>
	    			and lap1.dealer_payment_date is  null
	    		</otherwise>	
	    	</choose>  
	 	</if>
	 	<if test="beginPayDate !=null and beginPayDate != ''">
	 		and lap1.dealer_payment_date &gt; #{beginPayDate}		  
	 	</if>
	 	<if test="endPayDate !=null and endPayDate != ''">
	 		and lap1.dealer_payment_date &lt; #{endPayDate}		  
	 	</if>
	 	<if test="plateNo !=null and plateNo != ''">
	 		and lpi.plate_no like concat("%",#{plateNo},"%") 		  
	 	</if>
	 	<if test="applyIds!=null">
	 		<choose>
		 		<when test="applyIds.size() > 0 ">
		 			and lap1.relative_apply_id1 in 
	    			<foreach collection="applyIds" item="tag" open=" (" separator=" ," close=")">
						${tag}
					</foreach>			
	    		</when>
	    		<otherwise>
	    			and 1 = -1
	    		</otherwise>	
	    	</choose>  
	 	</if>
	 	<if test="dataOrgScope != null or dataGroupScope != null">
	 		and(
	 			<if test="dataOrgScope != null">
	 				lap1.org_id in 
	 				<foreach collection="dataOrgScope" item="tag" open=" )" separator=" ," close=") ">
						  ${tag}
					</foreach>
	 			</if>
	 			<if test="dataOrgScope != null and dataGroupScope != null"> 
	 				or 
	 			</if>
				<if test="dataGroupScope != null">
					lap1.user_group_id in 
	 				<foreach collection="dataGroupScope" item="tag" open=" (" separator=" ," close=") ">
						  ${tag} 
					</foreach>
	 			</if>
			)
		</if>
  	</sql>
	 <select id="countByCriteria" resultType="java.lang.Integer" parameterType="java.util.Map" >
	    select 
	    	count(1)
		from loan_info_view lap1
		left join loan_car_info lci on lci.project_id = lap1.project_id
		left join license_plate_info lpi on lpi.loan_car_id = lci.id
		<trim prefix="where" prefixOverrides="and|or">
		    <include refid="criteria_condition" />
	  	</trim>
	</select>
	<select id="selectByCriteria" parameterType="java.util.Map" resultType="com.cgw360.cls.model.inloan.LicensePlateInfoListResult">
		select 
			lap1.relative_apply_id1 applyId, 
			lap1.project_id projectId, 
			lap1.project_no projectNo,
			lap1.customer_name customerName, 
			lap1.card_no cardNo, 
			lap1.mobile_phone mobilePhone, 
			concat(lap1.car_brand_name,"+",lap1.car_make_name,"+",lap1.car_model_name) carInfo,
			lap1.dealer_payment_date dealerPaymentDate,
			datediff(curdate(),lap1.dealer_payment_date) paymentDays,
			case when lap1.dealer_payment_date is not null then "1" else "2" end isPay,
			lpi.note note,
			lpi.fail_reason failReason,
			lpi.id plateId,
			lpi.plate_no plateNo,
			lpi.register_date registerDate,
			lpi.operator_realname operatorRealname,
			lpi.plate_area plateArea
		from loan_info_view lap1
		left join loan_car_info lci on lci.project_id = lap1.project_id
		left join license_plate_info lpi on lpi.loan_car_id = lci.id
		<trim prefix="where" prefixOverrides="and|or">
		    <include refid="criteria_condition" />
	  	</trim>
  		order by lap1.dealer_payment_date
  		<if test="limitStart!=null">
  			limit #{limitStart}, #{limitNum}
  		</if>	
  	</select>
  	
  	<select id="selectByProjectId" parameterType="java.lang.Long" resultType="java.util.Map">
		select 
			lap1.relative_apply_id1 applyId, 
			lap1.project_id projectId, 
			lap1.project_no projectNo,
			lap1.car_brand carBrand,
			lap1.car_brand_name carBrandName,
			lap1.car_make carMake,
			lap1.car_make_name carMakeName,
			lap1.car_model carModel,
			lap1.car_model_name carModelName,
			lap1.car_type carType,

			lap1.customer_id customerId,
			lap1.customer_no customerNo,
			lap1.customer_name customerName,
			lap1.card_type cardType,
			lap1.card_no cardNo,

			lci.id id,
			lci.car_frame_no carFrameNo,
			lci.car_engine_no carEngineNo,
			lci.bill_no billNo,
			lci.bill_date billDate,
			lci.max_capacity maxCapacity,
			
			lpi.id licensePlateInfoId,
			lpi.is_registered isRegistered,
			lpi.register_type registerType,
			lpi.register_date registerDate,
			lpi.plate_no plateNo,
			lpi.plate_area plateArea,
			lpi.operator_uid operatorUid,
			lpi.operator_realname operatorRealname,
			lpi.register_target registerTarget,
			lpi.company_name companyName,
			lpi.company_code companyCode,
			lpi.warrant_date warrantDate,
			lpi.fail_reason failReason,
			lpi.note note

		from loan_info_view lap1
		left join loan_car_info lci on lci.project_id = lap1.project_id
		left join license_plate_info lpi on lpi.loan_car_id = lci.id
		where lap1.project_id = #{projectId}
  	</select>
</mapper>